body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

.card{
    width: auto !important;
    align-content: center !important;
    box-shadow: 9mm !important;
    border-radius: 10px !important;
    transition-duration: 0.5s !important;
    background: rgba(196, 238, 42, 0.808);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}
.card:hover{
  transform: scale(1.05); 
}
